{{define "body"}}
</head>
<body class="d-flex flex-column min-vh-100"> 
  <script>
    function logout(){
      fetch('http://127.0.0.1:8080/logout',{ method:'GET',credentials:"include"}).then(
        ()=>{
        window.location.assign("http://127.0.0.1:8080/loginPage")
        }
      ).catch()
    }
  </script> 
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/index">PCEA</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/membersPage">Members</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/messagesPage">Messages</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/groupsPage">Groups</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/districtsPage">Districts</a>
              </li>
              <li class="nav-item" style="float: right; width: 100%;">
                <button class="button btn-danger" onclick="logout()" >Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <br>
{{end}}