{{template "header"}}
    <title>{{.Title}}</title>
{{template "body"}} 
<div class="container-fluid">
    <div class="row">
        <div class="col-9">
            <div class="row row-cols-1 row-cols-md-4 g-4">
                {{range $i:=.Data}} 
                <div class="col">
                    <div class="card h-100">
                        <img class="card-img-top" src={{$i.Logo}} style="border-radius:20%">
                      
                        <div class="card-body">
                            <h5 class="card-title">{{$i.ID}}: {{$i.Name}}</h5>
                            <p class="card-text">
                                {{$i.Description}}                               
                            </p>
                        </div>
                    </div>
                </div>  
                {{end}}
            </div>
        </div>        
        <div class="col-3">
            <div class="card" >              
                <div class="card-body">
                    <h5 class="card-title">District Management</h5>
                    <form  onsubmit="submitForm(event.submitter.value)" id="memberform" > 
                        <div class="row g-3">
                            <div class="col-md-4">
                                <input type="number" class="form-control" placeholder="District ID"min="0" id="did" >
                            </div>
                            <div class="col-md-3">                                              
                                <button type="submit" value="search" id="search" class="btn btn-info">Search</button>
                            </div> 
                        </div>
                        <div  class="form-group">
                            <img id="dlp" src="/assets/default_location.png" style=" padding: 10px;border-radius:20%;width:150px;height:150px;display:block;margin-left: auto;margin-right: auto;"  />
                            <label for="dl">District logo</label>
                            <input type="file" id="dl" accept="image/*">
                        </div>
                        <div class="form-group">
                            <label for="mn">Name</label>
                            <input type="text" class="form-control" id="dn" >
                        </div>                       
                        <div class="form-group">
                            <label for="dd" class="form-label">Description</label>
                            <textarea type="text" class="form-control" id="dd" row="5" ></textarea>
                        </div>
                        <br>
                        <div class="row g-3">
                            <div class="col-md-4">               
                                <button type="submit" value="add"  id="add" class="btn btn-primary" >Add</button>
                            </div>
                            <div class="col-md-4">
                                <button type="submit" value="update" id="update" class="btn btn-secondary">Update</button>
                            </div>
                            <div class="col-md-4">
                                <button type="submit" value="delete" id="delete" class="btn btn-danger">Delete</button>
                            </div>
                        </div>                   
                    </form>
                  </div>
            </div>
            <div id="errorDiv" class="alter" role="alter" sytle="height:200px;width:100%">

            </div>
        </div>
    </div>
 </div>
{{template "footer"}}
<script>
    let y=document.getElementById('errorDiv')
    let id=document.getElementById('did')
    let name=document.getElementById('dn')
    let detail=document.getElementById('dd')
    let logo=document.getElementById('dlp')
    let pasf=document.getElementById('dl')
    pasf.addEventListener('change',e=>{ 
        const data= new FormData()
        data.append('Passport',e.target.files[0])
        fetch('http://127.0.0.1:8080/upload',{ method:'POST',credentials:"include",body: data}).then(
           (result)=>{
                if (!result.ok){                    
                    throw new Error(result.statusText);
                }
                return result.json()
              
                
            } 
        ).then( (d)=>{
            if(d.hasOwnProperty('Error')){
                y.classList.add("alter-danger")
                y.innerHTML=d['Error']
            }else{
                y.classList.add("alter-success")
                y.innerHTML="Passport successfully updated" 
                logo.src=d['Path']
            }}

        ).catch((e)=>{
            y.classList.add("alter-danger")
            y.innerText=e  
        })
    })

    function submitForm(type){       
        event.preventDefault()
        event.stopPropagation()
        switch(type){
                case "add":{
                    let data=JSON.stringify({"Name":name.value,"Logo":logo.src,"Description":detail.value})
                    fetch('http://127.0.0.1:8080/districts',{ method:'POST',headers:{'Content-Type':'application/json'},credentials:"include",body: data}).then(
                        (result)=>{                    
                            if (!result.ok){                    
                                throw new Error(result.statusText);
                            }
                            return result.json();
                        }).then(
                            (d)=>{       
                                if(d.hasOwnProperty('Error')){
                                        y.classList.add("alter-danger")
                                        y.innerHTML=d['Error']
                                       
                                }else{
                                    y.classList.add("alter-success")
                                    y.innerHTML="New District successfully added"   
                                    id.value=d["ID"] 
                                    name.value=d["Name"] 
                                    detail.value=d["Description"]
                                    logo.src=d["Logo"]
                                }                
                            }).catch((e)=>{
                            y.classList.add("alter-danger")
                            y.innerText=e                                    
                    })
                    break
                }
                case "update":{
                    let data=JSON.stringify({"Name":name.value,"Logo":logo.src,"Description":detail.value})
                    fetch('http://127.0.0.1:8080/districts',{ method:'PUT',headers:{'Content-Type':'application/json'},credentials:"include",body:data}).then(
                        (result)=>{                    
                            if (!result.ok){                    
                                throw new Error(result.statusText);
                            }
                            return result.json();
                        }).then(
                            (d)=>{      
                                if(d.hasOwnProperty('Error')){
                                    y.classList.add("alter-danger")
                                    y.innerHTML=d['Error']
                                   
                                }else{
                                    y.classList.add("alter-success")
                                    y.innerHTML="District successfully updated"   
                                    id.value=d["ID"] 
                                    name.value=d["Name"] 
                                    detail.value=d["Description"]
                                    logo.src=d["Logo"]
                                }                             
                            }).catch((e)=>{
                                y.classList.add("alter-danger")
                                y.innerText=e
                                    
                            }) 
                    break
                }
                case "delete":{
                    fetch('http://127.0.0.1:8080/districts/'+id.value,{ method:'DELETE',headers:{'Content-Type':'application/json'},credentials:"include"}).then(
                    (result)=>{                    
                        if (!result.ok){                    
                            throw new Error(result.statusText);
                        }
                            return result.json();
                        }).then(
                            (d)=>{       
                                if(d.hasOwnProperty('Error')){
                                    y.classList.add("alter-danger")
                                    y.innerHTML=d['Error']
                                   
                                }else{
                                    y.classList.add("alter-success")
                                    y.innerHTML="District successfully deleted"   
                                    id.value=d["ID"] 
                                    name.value=d["Name"] 
                                    detail.value=d["Description"]
                                    logo.src=d["Logo"]
                                }                                  
                        }).catch((e)=>{
                            y.classList.add("alter-danger")
                            y.innerText=e
                        })          
                    break
                }
                case "search":{
                    fetch('http://127.0.0.1:8080/districts/'+id.value,{ method:'GET',headers:{'Content-Type':'application/json'},credentials:"include"}).then(
                    (result)=>{                    
                        if (!result.ok){                    
                            throw new Error(result.statusText);
                        }
                            return result.json();
                        }).then(
                            (d)=>{       
                                if(d.hasOwnProperty('Error')){
                                    y.classList.add("alter-danger")
                                    y.innerHTML=d['Error']
                                   
                                }else{
                                    y.classList.add("alter-success")
                                    y.innerHTML="District was found"   
                                    id.value=d["ID"] 
                                    name.value=d["Name"] 
                                    detail.value=d["Description"]
                                    logo.src=d["Logo"]
                                }                 
                            }).catch((e)=>{
                                y.classList.add("alter-danger")
                                y.innerText=e
                                
                            })   
                    break
                }
            }
       
        setTimeout(()=>{ 
            if(type!="search"){
                location.reload()
            }
        },10000)
    }
    
</script>