{{template "header"}}
    <title>{{.Title}}</title>
{{template "body"}} 
<div class="container-fluid">
    <div class="row">
        <div class="col-9">
            <div class="row row-cols-1 row-cols-md-5 g-4">
                {{range $i:=.Data}} 
                <div class="col">
                    <div class="card">
                        <img class="card-img-top" src={{$i.Passport}}>
                        <div class="card-body">
                            <h5 class="card-title">{{$i.ID}} : {{$i.Name}}</h5>
                            <p class="card-body">
                                Gender: {{$i.Gender}}
                                <br>
                                Date of Birth: {{$i.DateofBirth}}
                                <br>
                                Phone Number: {{$i.PhoneNumber}}
                                <br>
                                Email: {{$i.Email}}
                                <br>
                                District: {{$i.District}}
                            </p>
                        </div>
                    </div>
                </div>  
                {{end}}
            </div>
        </div>        
        <div class="col-3">
            <div class="card" style="width: 18rem;">              
                <div class="card-body">
                    <h5 class="card-title">Member Management</h5>
                    <form  onsubmit="submitForm(event.submitter.value)" id="memberform" > 
                        <div class="row g-3">
                            <div class="col-md-4">
                                <label for="mid">Member ID</label>
                            </div>
                            <div class="col-md-4">                                
                                <input type="number" class="form-control" min="0" id="mid" >
                            </div>
                            <div class="col-md-2">                                            
                                <button type="submit" value="search" id="search" class="btn btn-info">Search</button>
                            </div> 
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="mn">Name</label>
                            <input type="text" class="form-control" id="mn">
                        </div>
                        <div class="form-group">
                            <label for="mg">Gender</label>
                            <select type="text" class="form-select" id="mg">
                                <option selected></option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="md">Date of Birth</label>
                            <input type="date" class="form-control" id="md" >
                        </div>
                        <div class="form-group">
                            <label for="mpn">Phone Number</label>
                            <input type="tel" class="form-control" id="mpn" pattern="[0-9]{10}">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="me" >Email</label>
                            <input type="email" class="form-control" id="me" >
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="mdi" >District</label>
                            <select type="number" class="form-select" id="mdi">
                                <option selected></option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </div>
                        <br>
                        <div class="row g-3">
                            <div class="col-md-4">               
                                <button type="submit" value="add"  id="add" class="btn btn-primary" >Add</button>
                            </div>
                            <div class="col-md-4">
                                <button type="submit" value="update" id="update" class="btn btn-secondary">Update</button>
                            </div>
                            <div class="col-md-4">
                                <button type="submit" value="delete" id="delete" class="btn btn-danger">Delete</button>
                            </div>
                        </div>                   
                    </form>
                  </div>
            </div>
            <div id="errorDiv">

            </div>
        </div>
    </div>
 </div>
{{template "footer"}}
<script>
    let y=document.getElementById('errorDiv')
    let id=document.getElementById('mid')
    let name=document.getElementById('mn')
    let date=document.getElementById('md')
    let gender=document.getElementById('mg')
    let number=document.getElementById('mpn')
    let form=document.getElementById('memberform')
    let email=document.getElementById('me')
    let district=document.getElementById('mdi')
    
    function submitForm(type){       
        event.preventDefault()
        event.stopPropagation()
        console.log(type)
        switch(type){
                case "add":{
                    let data=JSON.stringify({"Name":name.value,"Gender":gender.value,"DateofBirth":date.value,"PhoneNumber":number.value,"Passport":"/assets/images/default_image.png","Email":email.value,"District":district.value})
                    fetch('http://127.0.0.1:8080/members',{ method:'POST',headers:{'Content-Type':'application/json'},credentials:"include",body: data}).then(
                        (result)=>{                    
                            if (!result.ok){                    
                                throw new Error(result.statusText);
                            }
                            return result.json();
                        }).then(
                            (d)=>{       
                                if(d.hasOwnProperty('Error')){
                                        y.classList.add("alter-danger")
                                        y.innerHTML=d['Error']
                                       
                                }else{
                                    y.classList.add("alter-success")
                                    y.innerHTML="New Member successfully added"   
                                    id.value=d["ID"] 
                                    name.value=d["Name"] 
                                    date.value=d["DateofBirth"]  
                                    gender.value=d["Gender"]  
                                    number.value=d["PhoneNumber"]  
                                    email.value=d["Email"]
                                    district.value=d["District"]
                                }                
                            }).catch((e)=>{
                            y.classList.add("alter-danger")
                            y.innerText=e                                    
                    })
                    break
                }
                case "update":{
                    let data=JSON.stringify({"ID":id.value,"Name":name.value,"Gender":gender.value,"DateofBirth":date.value,"PhoneNumber":number.value,"Email":email.value,"District":district.value})
                    fetch('http://127.0.0.1:8080/members',{ method:'PUT',headers:{'Content-Type':'application/json'},credentials:"include",body:data}).then(
                        (result)=>{                    
                            if (!result.ok){                    
                                throw new Error(result.statusText);
                            }
                            return result.json();
                        }).then(
                            (d)=>{      
                                if(d.hasOwnProperty('Error')){
                                    y.classList.add("alter-danger")
                                    y.innerHTML=d['Error']
                                   
                                }else{
                                    y.classList.add("alter-success")
                                    y.innerHTML="Member successfully updated"   
                                    id.value=d["ID"] 
                                    name.value=d["Name"] 
                                    date.value=d["DateofBirth"]  
                                    gender.value=d["Gender"]  
                                    number.value=d["PhoneNumber"]  
                                    email.value=d["Email"]
                                    district.value=d["District"]
                                }                             
                            }).catch((e)=>{
                                y.classList.add("alter-danger")
                                y.innerText=e
                                    
                            }) 
                    break
                }
                case "delete":{
                    fetch('http://127.0.0.1:8080/members/'+id.value,{ method:'DELETE',headers:{'Content-Type':'application/json'},credentials:"include"}).then(
                    (result)=>{                    
                        if (!result.ok){                    
                            throw new Error(result.statusText);
                        }
                            return result.json();
                        }).then(
                            (d)=>{       
                                if(d.hasOwnProperty('Error')){
                                    y.classList.add("alter-danger")
                                    y.innerHTML=d['Error']
                                   
                                }else{
                                    y.classList.add("alter-success")
                                    y.innerHTML="Member successfully deleted"   
                                    id.value=d["ID"] 
                                    name.value=d["Name"] 
                                    date.value=d["DateofBirth"]  
                                    gender.value=d["Gender"]  
                                    number.value=d["PhoneNumber"] 
                                    email.value=d["Email"]
                                    district.value=d["District"] 
                                }                                  
                        }).catch((e)=>{
                            y.classList.add("alter-danger")
                            y.innerText=e
                        })          
                    break
                }
                case "search":{
                    fetch('http://127.0.0.1:8080/members/'+id.value,{ method:'GET',headers:{'Content-Type':'application/json'},credentials:"include"}).then(
                    (result)=>{                    
                        if (!result.ok){                    
                            throw new Error(result.statusText);
                        }
                            return result.json();
                        }).then(
                            (d)=>{       
                                if(d.hasOwnProperty('Error')){
                                    y.classList.add("alter-danger")
                                    y.innerHTML=d['Error']
                                   
                                }else{
                                    y.classList.add("alter-success")
                                    y.innerHTML="Member was found"   
                                    id.value=d["ID"] 
                                    name.value=d["Name"] 
                                    date.value=d["DateofBirth"]  
                                    gender.value=d["Gender"]  
                                    number.value=d["PhoneNumber"]  
                                    email.value=d["Email"]
                                    district.value=d["District"]
                                }                 
                            }).catch((e)=>{
                                y.classList.add("alter-danger")
                                y.innerText=e
                                
                            })   
                    break
                }
            }
       
        setTimeout(()=>{ 
            y.className="alter"
            y.innerHTML=""
        },10000)
    }
    
</script>