{{template "header"}}
    <title>{{.Title}}</title>
{{template "body"}}  
    <div class="container" >      
        <div class="row">
            <div class="col-8">
                <form id="mform">
                    <div class="row g-3">                
                        <div class="col-6" style="overflow:scroll;width:auto;height:200px">   
                            <script>
                                let groups={}
                                let districts={}
                                let members={}
                            </script>
                            {{range $gro:=.Data.Groups}}
                                <script>
                                    groups["{{$gro.ID}}"]="{{$gro.Name}}"
                                </script>
                            {{end}}
                            {{range $dist:=.Data.Districts}}
                                <script>
                                    districts["{{$dist.ID}}"]="{{$dist.Name}}"
                                </script>
                            {{end}}  
                            <label class="form-label" for="m">Members</label>  
                            <div class="form-select" id="m" ></div>              
                            {{range $i:=.Data.Members}}                               
                                <script>
                                    members["{{$i.ID}}"]="{{$i.PhoneNumber}}"
                                    var checkbox=document.createElement('input')
                                        checkbox.type = "checkbox";
                                        checkbox.name = "{{$i.Name}}"
                                        checkbox.value = "{{$i.PhoneNumber}}";
                                        checkbox.id="member"+"{{$i.ID}}"
                                        var label = document.createElement('label');
                                        label.htmlFor="member"+"{{$i.ID}}"
                                        label.className="form-label"
                                        label.appendChild(document.createTextNode( "{{$i.Name}}"+" "+"{{$i.PhoneNumber}}"))
                                        document.getElementById('m').append(checkbox)
                                        document.getElementById('m').append(label)
                                        var br = document.createElement('br');
                                        document.getElementById('m').append(br)  
                                </script>
                            {{end}}
                        </div>
                        <div class="col-3">
                            <label class="form-label" for="mdi" >District</label>
                            <div class="form-select" id="mdi" ></div>                              
                                {{range $i:=.Data.Districts}}
                                    <script>
                                        var checkbox=document.createElement('input')
                                        checkbox.type = "checkbox";
                                        checkbox.name = "{{$i.Name}}"
                                        checkbox.value = "{{$i.ID}}";
                                        checkbox.id="district"+"{{$i.ID}}"
                                        var label = document.createElement('label');
                                                        label.htmlFor="group"+"{{$i.ID}}"
                                                        label.className="form-label"
                                                        label.appendChild(document.createTextNode( "{{$i.Name}}"))
                                        document.getElementById('mdi').append(checkbox)
                                        document.getElementById('mdi').append(label)
                                        var br = document.createElement('br');
                                        document.getElementById('mdi').append(br) 
                                    </script>
                                {{end}}
                        </div>
                        <div class="col-3">
                            <label class="form-label" for="fg">Groups</label>  
                            <div class="form-select" id="fg" ></div>
                            {{range $i:=.Data.Groups}}
                                <script>
                                    var checkbox=document.createElement('input')
                                    checkbox.type = "checkbox";
                                    checkbox.name = "{{$i.Name}}"
                                    checkbox.value = "{{$i.ID}}";
                                    checkbox.id="group"+"{{$i.ID}}"
                                    var label = document.createElement('label');
                                                        label.htmlFor="group"+"{{$i.ID}}"
                                                        label.className="form-label"
                                                        label.appendChild(document.createTextNode( "{{$i.Name}}"))
                                        document.getElementById('fg').append(checkbox)
                                        document.getElementById('fg').append(label)
                                    var br = document.createElement('br');
                                    document.getElementById('fg').append(br)                          
                                </script>
                            {{end}}
                        </div>
                    </div>
                    <div class="col-mb-3">
                        <label for="message" class="form-label">Message</label>
                        <textarea type="text" class="form-control" id="message" row="3" required></textarea>
                    </div>
                    <br>  
                    <div class="col-mb-3">
                        <button type="submit"  class="btn btn-primary">Message</button>
                    </div>            
                </form> 
                <div id="errorDiv" class="alter"></div>
            </div>
            <div class="col-4">
                <div class="card">
                    <h5 class="card-title" ><div id="smshead"></div></h5>
                    <p class="card-text">
                        <ol id="smslist">

                        </ol>
                    </p>
                </div>
            </div>
        </div>
    </div>
{{template "footer"}}
<script>  
    let y=document.getElementById('errorDiv')
    var form=document.getElementById("mform")

    form.addEventListener("submit", function(event){  
        event.preventDefault()
        event.stopPropagation()
        if (form.checkValidity()){
            form.classList.add('was-validated')           
            
            let check=Object.keys(groups)
            let num=[]
            for(var i=0;i<check.length;i++){
                var x=document.getElementById("group"+check[i])
                if (x.checked){
                    if (x.value!=""){
                    num.push(x.value)
                    }
                }
            }
            let check1=Object.keys(members)
            let num1=[]
            for(var i=0;i<check1.length;i++){
                var x=document.getElementById("member"+check1[i])
                if (x.checked){
                    if (x.value!=""){
                    num1.push(x.value)
                    }
                }
            }
            let check2=Object.keys(districts)
            let num2=[]
            for(var i=0;i<check2.length;i++){
                var x=document.getElementById("district"+check2[i])
                if (x.checked){
                    if (x.value!=""){
                    num2.push(x.value)
                    }
                }
            }
            if(num.length==0 &&num2.length==0 && num1.length==0){
                y.classList.add("alter-danger")
                y.innerHTML="No receipients selected"
                form.classList.remove('was-validated')
            }else{
                let data=JSON.stringify({"Numbers":num1,"Group":num,"District":num2,"Message":document.getElementById("message").value})
                fetch('http://127.0.0.1:8080/message',{ method:'POST',headers:{'Content-Type':'application/json'},credentials:"include",body: data}).then(
                    (result)=>{                    
                        if (!result.ok){                    
                            throw new Error(result.statusText);
                        }
                        return result.json();
                    }
                ).then(
                    (data)=>{       
                        if(data.hasOwnProperty('Error')){
                            y.classList.add("alter-danger")
                            y.innerHTML=data['Error']
                            form.classList.remove('was-validated')
                        }else{
                            y.classList.add("alter-success")
                            y.innerHTML="Message sent"
                            var d=JSON.parse(atob(data))
                            const tn = document.createTextNode(d["SMSMessageData"]["Message"])
                            document.getElementById("smshead").appendChild(tn)
                            var li=document.getElementById("smslist")
                            for(var i=0;i<d["SMSMessageData"]["Recipients"].length;i++){
                                if(d["SMSMessageData"]["Recipients"][i]["status"]=="Success"){
                                    const node = document.createElement("li");
                                    const textnode = document.createTextNode(d["SMSMessageData"]["Recipients"][i]["messageId"]+" "+d["SMSMessageData"]["Recipients"][i]["number"]);
                                    node.appendChild(textnode);
                                    li.appendChild(node)
                                }
                            }
                        }
                    }
                ).catch((e)=>{
                    y.className="alter alter-danger"
                    y.innerText=e
                    form.classList.remove('was-validated')
                }) 
            }
        }           
        setTimeout(()=>{
        },5000)
    } )      
</script>