{{template "header"}}
    <title>{{.Title}}</title>
{{template "body"}}  
    <div class="container" style="margin:auto;width:50%;padding:20px">
        <form >
            <div class="row g-2">                
                <div class="col-mb-6">                
                    {{range $i:=.Data}}
                    <label for="number" class="option">{{$i.Name}}{{$i.PhoneNumber}}</label> 
                    <input type="checkbox" class="checkbox" data-id="{{$i.ID}}"><br>
                    {{end}}
                </div>
                <div class="col-md-6">
                    <label class="form-label" for="md" >District</label>
                    <select type="text" class="form-select" id="md">
                        <option selected></option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
            </div>
            <div class="mb-3">
                <label for="message" class="form-label">Message</label>
                <textarea type="text" class="form-control" id="message" row="3" required></textarea>
            </div>
            <br>  
            <div class="col-mb-3">
                <button type="button" onClick='message()' class="btn btn-primary">Message</button>
            </div>            
        </form> 
        <div id="errorDiv"></div>
    </div>
{{template "footer"}}
<script>
    function message(){            
        let y=document.getElementById('errorDiv')
        let data=JSON.stringify({"Number":document.getElementById("number").value,"Message":document.getElementById("message").value})
        fetch('http://127.0.0.1:8080/message',{ method:'POST',headers:{'Content-Type':'application/json'},credentials:"include",body: data}).then(
            (result)=>{                    
                if (!result.ok){                    
                    throw new Error(result.statusText);
                }
                return result.json();
            }
        ).then(
            (data)=>{       
              
            }
        ).catch((e)=>{
            y.className="alter alter-danger"
            y.innerText=e
            y.role="alert"
        })            
        setTimeout(()=>{ y.innerText=""},5000)
    }        
</script>